/* ABOUT */

.ul-list {
    list-style: decimal;
    padding-left: 55px;
    margin-top: 25px;
}

.strong {
    font-weight: 700;
    color: #fafafa;
    text-transform: capitalize;
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about .arcticle-title {
    margin-bottom: 15px;
}

.about-text,
.blog-text {
    letter-spacing: 2px;
    color: $light-gray;
    font-size: $fs-6;
    font-weight: $fw-300;
    line-height: 1.8;
}

.about-text p {
    margin-bottom: 15px;
}

.service {
    margin-bottom: 35px;
}

.service-title {
    margin-bottom: 20px;
}

.service-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.service-item {
    position: relative;
    background: $border-gradient-onyx;
    padding: 20px;
    border-radius: 14px;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        inset: 1px;
        background: $bg-gradient-jet;
        border-radius: inherit;
        z-index: -1;
    }
}

.service-icon-box {
    margin-bottom: 10px;
    img {
        margin: auto;
    }
}

.service-content-box {
    text-align: center;
}

.service-item-title {
    margin-bottom: 7px;
}

.service-item-text {
    color: #ffffff;
    font-size: $fs-6;
    font-weight: $fw-300;
    line-height: 1.6;
}