/* ABOUT */

article {
    display: none;
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.h2,
.h3,
.h4,
.h5,
.skill-item-title {
    color: $white-2;
    text-transform: capitalize;
}

.h2 {
    font-size: $fs-1;
}

.h3 {
    font-size: $fs-2;
}

.h4 {
    font-size: $fs-4;
}

.h5 {
    font-size: $fs-7;
    font-weight: $fw-500;
}

.arcticle-title {
    position: relative;
    padding-bottom: 7px;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background: $text-gradient-yellow;
        border-radius: 3px;
    }
}

.about .arcticle-title {
    margin-bottom: 15px;
}

.about-text {
    color: $light-gray;
    font-size: $fs-6;
    font-weight: $fw-300;
    line-height: 1.6;
}

.about-text p {
    margin-bottom: 15px;
}

.service {
    margin-bottom: 35px;
}

.service-title {
    margin-bottom: 20px;
}

.service-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.service-item {
    position: relative;
    background: $border-gradient-onyx;
    padding: 20px;
    border-radius: 14px;
    box-shadow: $shadow-2;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        inset: 1px;
        background: $bg-gradient-jet;
        border-radius: inherit;
        z-index: -1;
    }
}

.service-icon-box {
    margin-bottom: 10px;
    img {
        margin: auto;
    }
}

.service-content-box {
    text-align: center;
}

.service-item-title {
    margin-bottom: 7px;
}

.service-item-text {
    color: $light-gray;
    font-size: $fs-6;
    font-weight: $fw-300;
    line-height: 1.6;
}