/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.sidebar,
article {
    background: $eerie-black-2;
    padding: 15px;
    border-radius: 20px;
    z-index: 1;
}

.separator {
    width: 100%;
    height: 1px;
    background: $jet;
    margin: 16px 0;
}

.icon-box {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 16px;
    color: $orange-yellow-crayola;
    box-shadow: $shadow-1;
}

.icon-box::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: $eerie-black-1;
    border-radius: inherit;
    z-index: -1;
}

.icon-box ion-icon {
    --ionicon-stroke-width: 35px;
}


/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
    margin-bottom: 15px;
    max-height: 115px;
    overflow: hidden;
    transition: $transition-2;
    &-info {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }
}

.sidebar.active {
    max-height: 475px;
}

.avatar-box {
    border-radius: 20px;
    margin-bottom: 0;
    width: 150px;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.info-content .name {
    color: #515a6e;
    font-size: $fs-3;
    font-weight: $fw-500;
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.info-content .info-title {
    margin: 0 auto;
    color: $white-1;
    background: $onyx;
    font-size: $fs-8;
    font-weight: $fw-300;
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
}

.info_more-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color: $orange-yellow-crayola;
    background: $border-gradient-onyx;
    padding: 10px;
    transition: $transition-1;
    z-index: 1;
}

.info_more-btn::before {
    content: '';
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: #515a6e;
    transition: $transition-1;
    z-index: -1;
}

.info_more-btn span {
    display: none;
}

.sidebar-info_more {
    opacity: 0;
    visibility: hidden;
    transform: $transition-2;
}

.sidebar.active .sidebar-info_more {
    opacity: 1;
    visibility: visible;
}

.contacts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 16px;
    min-width: 100%;
}

.contact-info {
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
}

.contact-title {
    color: $light-gray-70;
    font-size: $fs-8;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.contact-info :is(.contact-link, time, address) {
    color: #515a6e;
    font-size: $fs-7;
    text-decoration: none;
}

.contact-info address {
    font-style: normal;
}

.social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
}

.social-item .social-link {
    color: $light-gray-70;
    font-size: 18px;
}

.social-item .social-link:hover {
    color: $light-gray;
}