@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import 'libs/bootstrap-grid.min';
@import "base/variables";
@import "base/mixins";

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

img {
    display: block;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

address {
    margin: 0;
}

input,
textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

::selection {
    background: $orange-yellow-crayola;
    color: $smoky-black;
}

:focus {
    outline-color: $orange-yellow-crayola;
}

* {
    font-family: 'Tektur', sans-serif;
}

a:hover {
    text-decoration: none;
}

body {
    background: $smoky-black;
}


/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

.main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
}

@import "components/btn";
@import "section/modal";
@import "section/header/sidebar";
@import "section/header/header";
@import "section/about";
@import "section/testimonials";
@import "section/clients";
@import "section/skill";
@import "section/portfolio";