@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import 'libs/bootstrap-grid.min';
@import "base/variables";
@import "base/mixins";
* {
    font-family: 'Tektur', sans-serif;
}

a:hover {
    text-decoration: none;
}

body {
    background: #FDF0E9;
}

@import "components/btn";
@import "section/header/header";
@import "section/present-section/slide-1";